In [1]:
import numpy as np
import pandas as pd

In [13]:
df=pd.read_csv(r'/home/varun/Desktop/Iris.csv',index_col= 0) # Removing the auto generated index

In [14]:
df.head()

    SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
Id
1             5.1           3.5            1.4           0.2  Iris-setosa
2             4.9           3.0            1.4           0.2  Iris-setosa
3             4.7           3.2            1.3           0.2  Iris-setosa
4             4.6           3.1            1.5           0.2  Iris-setosa
5             5.0           3.6            1.4           0.2  Iris-setosa

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             150 non-null    int64
 1   SepalLengthCm  150 non-null    float64
 2   SepalWidthCm   150 non-null    float64
 3   PetalLengthCm  150 non-null    float64
 4   PetalWidthCm   150 non-null    float64
 5   Species        150 non-null    object
dtypes: float64(4), int64(1), object(1)
memory usage: 7.2+ KB

In [16]:
# loc and iloc functions
# loc is label based and iloc is position based
df.loc[1,"SepalLengthCm"]

5.1

In [18]:
df.iloc[0,0] # works based on default indices starting from 0

5.1

In [19]:
df.iloc[2,:]

SepalLengthCm            4.7
SepalWidthCm             3.2
PetalLengthCm            1.3
PetalWidthCm             0.2
Species          Iris-setosa
Name: 3, dtype: object

In [20]:
df.loc[3,:]

SepalLengthCm            4.7
SepalWidthCm             3.2
PetalLengthCm            1.3
PetalWidthCm             0.2
Species          Iris-setosa
Name: 3, dtype: object

In [23]:
df.loc[[2,5],"PetalLengthCm"]

Id
2    1.4
5    1.4
Name: PetalLengthCm, dtype: float64

In [32]:
df.iloc[[1,4],2]

Id
2    1.4
5    1.4
Name: PetalLengthCm, dtype: float64

## Slicing with loc and iloc

In [40]:
x=df.loc[1:149:5,"SepalLengthCm":"PetalLengthCm"]
x.head()

    SepalLengthCm  SepalWidthCm  PetalLengthCm
Id
1             5.1           3.5            1.4
6             5.4           3.9            1.7
11            5.4           3.7            1.5
16            5.7           4.4            1.5
21            5.4           3.4            1.7

In [47]:
y= df.iloc[0:149:5,0:3]

In [48]:
y.head()

    SepalLengthCm  SepalWidthCm  PetalLengthCm
Id
1             5.1           3.5            1.4
6             5.4           3.9            1.7
11            5.4           3.7            1.5
16            5.7           4.4            1.5
21            5.4           3.4            1.7

## Conditions

In [59]:
df.loc[(df.SepalLengthCm>6.5) & (df.Species == "Iris-virginica"),:]

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm         Species
Id
103            7.1           3.0            5.9           2.1  Iris-virginica
106            7.6           3.0            6.6           2.1  Iris-virginica
108            7.3           2.9            6.3           1.8  Iris-virginica
109            6.7           2.5            5.8           1.8  Iris-virginica
110            7.2           3.6            6.1           2.5  Iris-virginica
113            6.8           3.0            5.5           2.1  Iris-virginica
118            7.7           3.8            6.7           2.2  Iris-virginica
119            7.7           2.6            6.9           2.3  Iris-virginica
121            6.9           3.2            5.7           2.3  Iris-virginica
123            7.7           2.8            6.7           2.0  Iris-virginica
125            6.7           3.3            5.7           2.1  Iris-virginica
126            7.2           3.2            6.0           1.8  Iris-virginica
130            7.2           3.0            5.8           1.6  Iris-virginica
131            7.4           2.8            6.1           1.9  Iris-virginica
132            7.9           3.8            6.4           2.0  Iris-virginica
136            7.7           3.0            6.1           2.3  Iris-virginica
140            6.9           3.1            5.4           2.1  Iris-virginica
141            6.7           3.1            5.6           2.4  Iris-virginica
142            6.9           3.1            5.1           2.3  Iris-virginica
144            6.8           3.2            5.9           2.3  Iris-virginica
145            6.7           3.3            5.7           2.5  Iris-virginica
146            6.7           3.0            5.2           2.3  Iris-virginica

In [64]:
df.iloc[list((df.SepalLengthCm>6.5) & (df.Species == "Iris-virginica")),:] # using the list function to convert the output of multiple conditions into a boolean list

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm         Species
Id
103            7.1           3.0            5.9           2.1  Iris-virginica
106            7.6           3.0            6.6           2.1  Iris-virginica
108            7.3           2.9            6.3           1.8  Iris-virginica
109            6.7           2.5            5.8           1.8  Iris-virginica
110            7.2           3.6            6.1           2.5  Iris-virginica
113            6.8           3.0            5.5           2.1  Iris-virginica
118            7.7           3.8            6.7           2.2  Iris-virginica
119            7.7           2.6            6.9           2.3  Iris-virginica
121            6.9           3.2            5.7           2.3  Iris-virginica
123            7.7           2.8            6.7           2.0  Iris-virginica
125            6.7           3.3            5.7           2.1  Iris-virginica
126            7.2           3.2            6.0           1.8  Iris-virginica
130            7.2           3.0            5.8           1.6  Iris-virginica
131            7.4           2.8            6.1           1.9  Iris-virginica
132            7.9           3.8            6.4           2.0  Iris-virginica
136            7.7           3.0            6.1           2.3  Iris-virginica
140            6.9           3.1            5.4           2.1  Iris-virginica
141            6.7           3.1            5.6           2.4  Iris-virginica
142            6.9           3.1            5.1           2.3  Iris-virginica
144            6.8           3.2            5.9           2.3  Iris-virginica
145            6.7           3.3            5.7           2.5  Iris-virginica
146            6.7           3.0            5.2           2.3  Iris-virginica

### loc and iloc are interchangeable when labels are 0-based integers